body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

:root {
    --white:#ffffff;
    --blue: #3291ff;
    --black:#111111;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    z-index: 1000;
}

nav {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #141414;
    display: flex;
    justify-content: center;
}

nav img {
    margin: 10px;
    width: 150px;
}

.container {
    max-width: 600px;
    margin: auto; /* Center the container horizontally */
    height: calc(100vh - 100px); /* 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the form vertically */
    padding: 20px;
}
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 30px;
}
.error-message-container{
    width: 100%;
    max-width: 300px;
   
}
.error-message {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 5px auto; /* Center the error message horizontally */
    border-radius: 8px;
    font-size: 0.875rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    font-size: 0.875rem;
    box-sizing: border-box;
    background-color: #111111;
    color: white;
    border: 0.005em solid #5e5c5c;
    transition: border-color 0.3s;
}

form input:focus {
    border-color: var(--blue);
    box-shadow: 0 0 5px var(--blue);
    outline: none;
}

form button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
}

form button:disabled {
    background-color:#5e5c5c; 
    color: var(--white);
    cursor: not-allowed; 
}

footer {
    border-top: 1px solid #141414;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer a {
    font-size: 0.875rem;
    color: var(--blue);
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------Loading Screeen---------------------------------------------------------------------*/
#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }

/*----------------------------------------------------------------------------------------------Loading Screeen ends---------------------------------------------------------------------*/
